<div class="wrapper {{Category}}">
  <div class="header">
    <div class="title">{{Title}}</div>
    <div class="type">{{Type}}</div>
  </div>
  <div class="main font-effect-shadow-multiple">
    {{Text}}
  </div>
  <div class="points">
    {{Points}}
  </div>
</div>
