.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 12pt;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.header {
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 10px;
}

.title {
  align-self: flex-start;
}

.type {
  font-size: 9pt;
  align-self: flex-end;
}


.main {
  width: calc(100% - 30px);
  height: calc(100% - 75px);
  background: #fff;
  display: flex;
  padding: 12px;
  text-align: center;
  border: 1px solid #000;
}

.points {
  background: #fff;
  padding: 10px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 3px solid #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 10px 0;
}

/* Card backgrounds (by category) */
.ayuda {
  background-color: #2ecc71;
}

.conocimiento {
  background-color: #8e44ad;
}

.cono-bien {
  background-color: #6a68bf;
}

.bienestar {
  background-color: #3498db;
}

.ayu-cono {
  background-color: #569489;
}
